python-binance>=1.0.19
pandas>=2.0.0
pyarrow>=14.0.1
numpy>=1.24.0
jupyter>=1.0.0
statsmodels>=0.14.0  # We'll need this later for Granger causality
scikit-learn>=1.3.0  # We'll need this for outlier detection
seaborn>=0.12.0  # We'll need this for visualization
